@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit";
}

/* Header & Footer */
.navbar-headbrand {
  text-decoration: none;
  color: #304ffe;
  font-weight: 700;
  font-size: 30px;
  font-family: "Outfit";
  line-height: 45.36px;
}

.deals_logo{
  margin-left: -2.5rem;
}
/* Header  */

.offcanvas-toggler {
  background-color: #304ffe;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s;
}

/* Customize submenu links */
.offcanvas-body .collapse .nav-link {
  padding-left: 20px;
  /* Indent submenu items */
  color: #6c757d;
  /* Submenu text color */
}

.offcanvas-body .collapse .nav-link:hover {
  color: #007bff;
  /* Change color on hover */
}

.navbar-subbrand {
  color: #1e1e1e;
  font-weight: 600;
  font-size: 14px;
  font-family: "Outfit";
  line-height: 20.16px;
  padding: 0 7rem;
}

.form-control {
  border-radius: 0px;
}

.form-select {
  border-radius: 0px;
  color: #b1b1b1;
  font-weight: 600;
  font-size: 18px;
  font-family: "Outfit";
  line-height: 22.68px;
  padding-right: 40px;
}

.form-control::placeholder {
  color: #b1b1b1;
  font-weight: 600;
  font-size: 18px;
  font-family: "Outfit";
  line-height: 22.68px;
}

.input-group-text {
  background-color: #304ffe;
  color: #fff;
  border-radius: 0px;
}

@media screen and (max-width: 380px) and (min-width: 320px) {
  .navbar-headbrand {
    text-decoration: none;
    color: #304ffe;
    font-weight: 700;
    font-size: 25px;
    font-family: "Outfit";
    line-height: 45.36px;
    padding: 0 8px;
  }

  .deals_logo{
    margin-left: 1px;
  }

  .navbar-subbrand {
    color: #1e1e1e;
    font-weight: 600;
    font-size: 12px;
    font-family: "Outfit";
    line-height: 20.16px;
    padding: 0 6rem;
  }

  .navbar-toggler .button {
    display: flex;
    max-width: 120px;
  }
}

.nav-link {
  padding: 15px 20px;
  color: #304ffe;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-size: 18px;
  font-weight: 600;
  line-height: 22.68px;

}

.nav-link:hover {
  background-color: #304ffe;
  color: #fff;
}

.nav-link.active {
  background-color: #304ffe;
  color: #fff;
}

.nav-link {
  border-radius: 0px;
}

.horizontal-line {
  width: 100%;
  height: 1px;
  background-color: #304ffe;
}

.icon-wrapper {
  background-color: #ffff;
  padding: 3px;
  border-radius: 3px;
  display: inline-block;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-right: 5px;
}

.icon-wrapper i {
  color: black;
  font-size: 20px;
}

@media screen and (max-width: 2200px) and (min-width: 1920px) {
  .large-inputs {
    padding-left: 100px;
  }
}

/* Footer Start  */

.footer {
  background-color: #ffff;
  padding: 15px 0;
}

.footer-conent {
  color: #ffff;
  background-color: #304ffe;
  padding: 15px 0;
}

.connect_heading {
  color: #304ffe !important;
  font-size: 52px;
  font-weight: 700;
  line-height: 69.33px;
  text-align: left;
}

.connect {
  padding: 0 0 40px 0 !important;
}

/* form */
.connect .footer-form {
  background: none !important;
  border: none;
  border-bottom: 1px solid #333333 !important;
  border-radius: 0;
  font-weight: 700;
  margin: 1.8rem 0;
  box-shadow: none !important;
  text-align: start !important;
  padding: 24px 0;
}

@media screen and (max-width: 555px) {
  .input-colum {
    width: 100% !important;
    margin-bottom: 15px;
  }

  .footer-title {
    margin: 0 auto 15px auto;
  }

  .links {
    text-align: center !important;
    display: flex;
    justify-content: center;
  }

  .links2 {
    text-align: center !important;
  }

  .footer-links {
    padding: 0 !important;
  }

  .footer-links .links {
    padding: 0;
    cursor: pointer;
  }

  .footer-links .links2 {
    padding: 0;
    cursor: pointer;
  }

  .headings {
    text-align: center;
  }

  .headings img {
    display: none;
  }

  .send_btn {
    text-align: center;
  }

  .conect_heading {
    text-align: center;
    line-height: 2rem !important;
  }
}

@media (max-width: 992px) {
  .footer .row {
    display: flex;
    flex-direction: row;
  }
}

.conect_heading {
  margin-top: 8rem;
  line-height: 4rem;
}

.underline_img {
  position: absolute;
}

.footer-links .links {
  margin: 30px 0;
  padding: 5px;
  cursor: pointer;
}

.footer-links .links2 {
  margin: 30px 0;
  padding: 0px;
  cursor: pointer;
}

.line-divider i {
  /* border-right: 1px solid; */
  padding: 0 9px;
}

.footer-btn {
  border: 1px;
  padding: 5px 25px !important;
  background-color: #ffff !important;
  color: #304ffe;
  /* margin-top: 10px; */
  font-family: "Outfit";
  font-size: 20px;
  font-weight: 600;
  line-height: 30.24px;
  text-align: left;
}

.footer-btn:hover {
  border: 1px;
  color: #304ffe !important;
  background-color: #ffff !important;
  padding: 5px 25px !important;
  font-weight: 600;
  /* margin-top: 10px; */
}

.footer-title {
  cursor: pointer;
  position: relative;
  top: 2px;
  font-family: "Outfit";
  font-size: 24px;
  font-weight: 600;
  line-height: 30.24px;
}

@media (max-width: 990px) {
  .footer-content {
    padding: 15px 0;
  }

  .footersearch {
    flex-direction: column;
  }

  .footer-btn {
    text-align: center;
  }

  .footersearch input {
    margin-bottom: 10px;
    width: 100%;
  }

  .footer-title {
    text-align: center;
  }

  .footer-links {
    text-align: center;
  }
}

/* Footer End  */

/* Hero Section */

/* Hero Section  */

.btn-secondary.dropdown-toggle {
  background-color: #fff;
  color: #000;
  padding: 10px 20px;
  font-size: 16px;
  border: 0.5px solid #bababa;
  height: 50px;
  width: 100%;
  border-radius: 0;
}

.btn-secondary.dropdown-toggle:hover {
  background-color: #fff;
  color: #000;
}

.no-arrow::after {
  display: none;
}

.dropdown-menu {
  width: 100% !important;
}

.full-width {
  width: 100%;
}

.category {
  color: #bababa;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
}

.category_sub {
  color: #515050;
  text-align: center;
  text-transform: uppercase;
}

/* Top Deals */
.top-deals {
  color: #1e1e1e;
  font-size: 30px;
  font-weight: 600;
  line-height: 50.4px;
  font-family: "Outfit";
  text-align: center;
}

.topCard {
  position: relative;
  overflow: hidden;
  /* transition: transform 0.1s ease, box-shadow 0.3s ease; */
  margin: 5px 12px;
  padding: 0 !important;
  border-radius: 0px !important;
}

.topCard::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* .topCard:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0);
    border: 1px solid #304FFE;
    cursor: pointer;
} */

.trending-badge {
  position: absolute;
  top: 15px;
  right: 10px;
  width: 3rem;
  background-color: #304ffe;
  font-family: "Outfit";
  color: #fff;
  z-index: 2;
  font-weight: 400;
  border-radius: 5px;
}

.content-badge {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 2;
  font-weight: 600;
  font-size: 20px;
  white-space: nowrap;
  line-height: 37.8px;
  font-family: "Outfit";
  text-align: center;
}

@media screen and (min-width: 999px) and (max-width: 1200px) {
  .content-badge {
    font-weight: 600;
    font-size: 25px;
  }

  .trending-badge {
    font-weight: 300;
  }
}

/* Top Deals End */

/* Banner  */

.badgebordernone {
  --bs-badge-border-radius: "none";
  background-color: #304ffe;
  color: #fff;
}

.card {
  --bs-card-border-radius: "none";
}

.card_section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner_card {
  background: url("../images/Dealslah_ecommerce\ 1.jpg") center center no-repeat;
  background-size: cover;
  width: 100%;
  height: 200px !important;
  color: rgb(0, 0, 0);
  border: none !important;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  /* Set a height for vertical centering */
  font-size: 24px;
  /* Adjust the font size as needed */
  font-weight: bold;
  /* Optional: to make the text bold */
  color: #fff;
}

.commerce {
  /* font-family: "Outfit"; */
  font-size: 20px !important;
  font-weight: 700;
  line-height: 25.2px;
  text-align: left;
  margin-top: 5px;
}

.commerce_content {
  /* font-family: "Outfit"; */
  font-size: 16px !important;
  font-weight: 400;
  line-height: 20.16px;
}

.commerce_amount {
  /* font-family: "Outfit"; */
  font-size: 20px !important;
  font-weight: 700;
  line-height: 25.2px;
  color: #304ffe;
}

.commerce_price {
  /* font-family: "Outfit"; */
  font-size: 20px !important;
  font-weight: 500;
  line-height: 25.2px;
  margin-bottom: 0 !important;
}

.commerce_price span {
  /* font-family: "Outfit"; */
  font-size: 20px !important;
  font-weight: 700;
  line-height: 25.2px;
}

.commerce_place {
  /* font-family: "Outfit"; */
  font-size: 18px !important;
  font-weight: 500;
  line-height: 30.24px;
}

.commerce_head {
  /* font-family: "Outfit"; */
  font-size: 24px !important;
  font-weight: 600;
  line-height: 37.8px;
}

.commerce_badge {
  background-color: #304ffe;
  color: #fff;
  /* font-family: Outfit; */
  font-size: 18px !important;
  font-weight: 500;
}

.seeMore-text {
  color: #b1b1b1;
  font-weight: 600px;
  font-size: 18px;
  line-height: 30.24px;
  /* font-family: "Outfit"; */
}

.commerce_badge2 {
  position: relative;
  /* Enable positioning for the badge */
  display: inline-block;
}

.badge_image {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #304ffe;
  /* Badge background color *
      color: white; /* Badge text color */
  padding: 5px 10px;
  /* Padding around the text */
  border-radius: 5px;
  /* Rounded corners */
  font-size: 14px;
  color: #fff;
  width: auto;
  /* Set to auto or a specific width if needed */
  height: 30px;
}

.commerce_card {
  /* height: 326px; */
  max-width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
}

@media (min-width: 992px) {
  .commerce_card {
    width: 822px;
  }
}

.commerce_badge2 img {
  max-height: 100%;
  width: auto;
  border-radius: 3px;
}

.commerce_content {
  font-size: 18px;
  /* Set font size greater than 16px */
  display: -webkit-box;
  /* For WebKit browsers */
  -webkit-line-clamp: 3;
  /* Number of lines to show before truncation */
  -webkit-box-orient: vertical;
  overflow: hidden;
  /* Hide overflow content */
  text-overflow: ellipsis;
  /* Add ellipsis at the end */
  line-height: 1.2;
  /* Adjust line height if needed */
}

.icon-circle {
  width: 50px;
  height: 40px;
  background-color: #007bff !important;
  /* Blue background */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 10px;
}

.icon-circle i {
  color: #ffffff;
  /* White icon color */
  font-size: 18px;
}